MYSQL_ROOT_PASSWORD=root_secret
MYSQL_DATABASE=ms_catering_subscription
MYSQL_USER=admin_db
MYSQL_PASSWORD=123456

MYSQL_HOST_PORT=3325

APP_HOST_PORT=8080
APP_IMAGE=alv641/ms-catering-subscription:1.0.0
